.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:pointer}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto;padding-bottom:0}
.slick-track:after,.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;min-height:1px}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-dotted.slick-slider{padding-bottom:0}
.slick-dots{position:absolute;left:0;bottom:-39px;z-index:80;height:15px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}
.slick-dots li{position:relative;display:inline-block;vertical-align:top;width:15px;height:15px;margin:0 0 0 20px;padding:0;cursor:pointer;line-height:10px}
.slick-dots li:first-child{margin-left:0}
.slick-dots li button{background:#999;border:none;font-size:0;line-height:0;display:block;width:15px;height:15px;padding:0;cursor:pointer;color:transparent;outline:0;border-radius:50%}
.slick-dots li.slick-active button{background:#b21d0c}
.slick-prev{position:absolute;left:-16px;top:50%;z-index:80;margin-top:-22px;z-index:70;border:0;transform:rotate(180deg);background:#fff;width:0;height:44px;padding:0 0 0 44px;overflow:hidden;display:block;outline:0;cursor:pointer;border-radius:50%;box-shadow: 0px 0px 22px 0px #44444426}
.slick-prev:before{position:absolute;transform:rotate(180deg);top:50%;left:50%;margin:-11px 0 0 -6px;content:'';background: url(../images/arrow-slider.svg) no-repeat;width:13px;height:22px}
.slick-next{position:absolute;right:-16px;top:50%;z-index:80;margin-top:-22px;z-index:70;border:0;background:#fff;width:0;height:44px;padding:0 0 0 44px;overflow:hidden;transform:rotate(180deg);display:block;outline:0;cursor:pointer;border-radius:50%;box-shadow: 0px 0px 22px 0px #44444426}
.slick-next:before{position:absolute;top:50%;left:50%;margin:-11px 0 0 -6px;content:'';background:url(../images/arrow-slider.svg) no-repeat;width:13px;height:22px}
/*.slick-next:hover,.slick-prev:hover{background:#65a0f6}
.slick-next:active,.slick-prev:active{background:#558bda}
.slick-next.slick-disabled{background:#ededf0;box-shadow:none;pointer-events:none}
.slick-prev.slick-disabled{background:#ededf0;box-shadow:none;pointer-events:none}*/
.fix-load{visibility:hidden;opacity:0;transition:opacity .5s}
.fix-load.slick-initialized{visibility:visible;opacity:1}
.fix-load .slide{display:none}
.fix-load .slide:first-child{display:block;visibility:hidden}
.fix-load.slick-initialized .slide{display:block;visibility:visible!important}


@media screen and (max-width: 767px) {
	.fix-load-mob{visibility:hidden;opacity:0;transition:opacity .5s}
	.fix-load-mob.slick-initialized{visibility:visible;opacity:1}
	.fix-load-mob .slide{display:none}
	.fix-load-mob .slide:first-child{display:block;visibility:hidden}
	.fix-load-mob.slick-initialized .slide{display:block;visibility:visible!important}
	.slick-prev{left:0}
	.slick-next{right:0}
}